.button {
    -fx-background-color: #393E46;
    -fx-text-fill: #EEEEEE;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-transition-duration: 0.3s; /* Doğru özellik */
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #FFC100, #FF8A08, #FF6500);
    -fx-text-fill: darkred;
    -fx-font-size: 1em;
}

.button:pressed {
    -fx-background-color: darkorange;
    -fx-background-radius: 5px;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-transition-duration: 0.3s; /* Geçiş süresi */
}


